{% extends "base.html" %}

{% block title %}Library Loan System - Retrieve Score{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Score</h1>
<div>
    {% if quiz_dict %}
        {% set count = quiz_dict|length %}
        {% if count == 1 %}
            <p>There is 1 quiz score</p>
        {% else %}
            <p>There are {{ count }} quiz scores</p>
        {% endif %}
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User_ID</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_id, score in quiz_dict.items() %}
                        <tr>
                            <td>{{ user_id }}</td>
                            <td>{{ score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No quiz scores available</p>
    {% endif %}
</div>
{% endblock %}



