<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Kuizu</title>
    <link rel="stylesheet" href="static/quiz.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Monthly Kuizu</h1>
        <div id="quiz"></div>
        <div id="result" class="result"></div>
        <button id="submit" class="button">Submit</button>
        <button id="retry" class="button hide">Retry</button>
        <button id="showAnswer" class="button hide">Show Answer</button>
        <a href="/retrieve_quiz_score"><button id="saveAnswer" class="button hide" value="" onclick="saveAnswer()">Save Answer</button></a>
        <div id="output"></div>
        <script>
            function saveAnswer() {
                var value = getScore();
                console.log(value);
                    $.ajax({ 
                        url: '/process', 
                        type: 'POST', 
                        data: { 'data': value }, 
                    });
            }
        </script>
        <script src="static/quiz.js"></script>
    </div>
</body>
</html>