<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ACS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="navbardrop1" data-bs-toggle="dropdown">Manage Customers</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/inputCustomer">Input Customers</a></li>
            <li><a class="dropdown-item" href="/createCustomer">Create Customer</a></li>
            <li><a class="dropdown-item" href="/retrieveCustomer">Retrieve Customers</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="navbardrop2" data-bs-toggle="dropdown">Manage Staff</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/inputStaff">Input Staff</a></li>
            <li><a class="dropdown-item" href="/createStaff">Create Staff</a></li>
            <li><a class="dropdown-item" href="/retrieveStaff">Retrieve Staff</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link" href="/customerLogin">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>