{% extends "user_database_base.html" %}
{% block title %}Amsyar's Card Shop - Retrieve Customer{% endblock %}

{% block content %}
<h1 class="display-4">Customers</h1>
<div>
    <div>
        Total Customer Users: {{ count }}
    </div>
    <div id="options">
        <div id="search_form">
            <form method="POST" action="{{url_for('search_customer')}}">
                <label for="customer_search">Search Customer</label>
                <input type="number" id="customer_search" name="user_search" placeholder="User ID" size="25" minlength="1" maxlength="150" required>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div id="clear">
            <script>
                function confirm_clear() {
                    confirm_input = prompt("Delete all customers? Type 'OK' to confirm");
                    if (confirm_input == 'OK') {
                        return true;
                    } else {
                        return false;
                    }
                }
            </script>
            <a href="/clearCustomer"><input type="submit" onclick="return confirm_clear()" value="Delete All"></a>
        </div>
    </div>
    <style>
        #clear {
            margin-left: 5px
        }

        #options {
            display: flex;
            float:left;
            width: 49%;
        }
    </style>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Mailing Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customer_list %}
            <tr>
                <td>{{ customer.get_user_id() }}</td>
                <td>{{ customer.get_customer_id() }}</td>
                <td>{{ customer.get_name() }}</td>
                <td>{{ customer.get_email() }}</td>
                <td>{{ customer.get_gender() }}</td>
                <td>{{ customer.get_phone_number() }}</td>
                <td>{{ customer.get_mailing_address() }}</td>
                <td>
                    <form action="{{url_for('delete_customer', user_id=customer.get_user_id())}}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger"
                               onclick="return confirm('Are you sure you want to delete {{customer.get_name()}} (User ID:{{customer.get_user_id()}})?');">
                    </form>
                </td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}