{% extends "user_database_base.html" %}
{% block title %}Amsyar's Card Shop - Retrieve Customer{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Customer</h1>
<div>
    <div id="options">
        <div id="search_form">
            <form method="POST" action="{{url_for('search_customer')}}">
                <label for="customer_search">Search Customer</label>
                <input type="number" id="customer_search" name="user_search" placeholder="User ID" size="25" minlength="1" maxlength="150" required>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div id="show_all">
            <a href="/retrieveCustomer"><input type="submit" value="Show All"></a>
        </div>
    </div>
    <style>
        #show_all {
            margin-left: 5px
        }

        #options {
            display: flex;
            float:left;
            width: 49%;
        }
    </style>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Mailing Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if customer %}
            <tr>
                <td>{{ customer.get_user_id() }}</td>
                <td>{{ customer.get_customer_id() }}</td>
                <td>{{ customer.get_name() }}</td>
                <td>{{ customer.get_email() }}</td>
                <td>{{ customer.get_gender() }}</td>
                <td>{{ customer.get_phone_number() }}</td>
                <td>{{ customer.get_mailing_address() }}</td>
                <td>
                    <form action="{{url_for('delete_customer', user_id=customer.get_user_id())}}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td>No customers found</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}