{% extends "customer_base.html" %}
{% block title %}User database - Home{% endblock %}

{% block content %}
{% from "includes/_acs_formHelper.html" import render_field %}

<script src="static/showPassword.js"></script>
<h1 class="display-4">Change Password</h1>
<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.old_password, class="form-control") }}
  </div>
  {% if incorrect_password_error %}
    <span class="error">{{ incorrect_password_error }}</span>
  {% endif %}
  <div class="form-group">
    {{ render_field(form.new_password, class="form-control") }}
  </div>
    {% if matching_old_password_error %}
    <span class="error">{{ matching_old_password_error }}</span><br>
    {% endif %}
  {% if password_errors %}
    <div class="error">
        <ul>
            {% for error in password_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
  {% endif %}
  <input type="checkbox" onclick="showPassword()"> Show Password<br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
  <input type="reset" value="Reset" class="btn btn-danger">
</form>

{% endblock %}