{% extends "user_database_base.html" %}
{% block title %}Amsyar's Card Shop - Retrieve Customer{% endblock %}

{% block content %}
<h1 class="display-4">Staff</h1>
<div>
    <div id="search_form">
        <form method="POST" action="{{url_for('search_staff')}}">
            <label for="staff_search">Search Staff</label>
            <input type="number" id="staff_search" name="user_search" placeholder="User ID" size="25" minlength="1" maxlength="150" required>
            <input type="submit" value="Submit">
        </form>
    </div>
    <a href="/clearStaff" id=clear"><input type="submit" value="Delete All"></a>
    <style>
        #options {
            display: flex;
            float:left;
            width: 49%;
        }

        #clear {
            margin-left: 5px
        }
    </style>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Staff ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Start Date</th>
                <th>Position</th>
                <th>Total Earnings</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Mailing Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if staff %}
            <tr>
                <td>{{ staff.get_user_id() }}</td>
                <td>{{ staff.get_staff_id() }}</td>
                <td>{{ staff.get_name() }}</td>
                <td>{{ staff.get_email() }}</td>
                <td>{{ staff.get_start_date() }}</td>
                <td>{{ staff.get_position() }}</td>
                <td>${{ staff.get_total_earnings() }}</td>
                <td>{{ staff.get_gender() }}</td>
                <td>{{ staff.get_phone_number() }}</td>
                <td>{{ staff.get_mailing_address() }}</td>
                <td><a href="/updateStaff/{{staff.get_user_id()}}" class="btn btn-warning">Update</a></td>
                <td>
                    <form action="{{url_for('delete_staff', user_id=staff.get_user_id())}}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger"
                               onclick="return confirm('Are you sure you want to delete {{staff.get_name()}} (User ID:{{staff.get_user_id()}})?');">
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No staff found</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}